XENDIT_SECRET_KEY=xnd_development_xxxxxxxxxxxxxxxxxxxxx
XENDIT_WEBHOOK_TOKEN=isi_dengan_webhook_verification_token
DIGIFLAZZ_USERNAME=usernamekamu
DIGIFLAZZ_API_KEY=isi_dengan_api_key_digiflazz
PORT=3000
